include src/mediaforge/.env.example
recursive-include src/mediaforge/web/templates *.html
recursive-include src/mediaforge/web/static *.css *.js
recursive-include src/mediaforge/web/translations *.po *.mo
recursive-include src/mediaforge/web/thirdparties *.html *.css *.js *.py *.po *.mo *.cfg
